.qmake.stash
*.user
FWMaker_*.zip
*.exe

!pack/*.exe
!pack/installer/pack/*.exe

pack/installer/pack/installer/*

pack/installer/*.json

*_plugin_import.cpp
*.obj
moc_*
ui_*
Makefile
Makefile.*
uic_*

debug/
release/
output/

*.rc

build-*/
build/
msvc_make.bat